@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&display=swap');

/* font-family: 'Barlow Condensed', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  background-color: #F1EDEA;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list{
  list-style: none;
  padding-left: 30px;
}

.list li{
  margin: 10px 0;
  color: #6B6B6B;
}

.list li:first-child{
  margin: 0 !important;
}

.list li::before {
  content: "\2022";  
  color: #BE6C30;
  font-size: 25px;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

/* Pagination */
.Mui-selected{
  color: #BE6C30 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  border-bottom: solid 1px #BE6C30 !important;
}

.MuiPagination-ul{
  background-color: #fff !important;
}